{% extends 'scribd/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10px">
        <h2>Log In</h2>
        <div class="jumbotron">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class='form-group'>
                        {{ field.label }}<br>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Log In</button>
            </form>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-success">Login with google</a>
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-success">Login with facebook</a>
        </div>
    </div>
    </div>
{% endblock %}
