{% extends 'scribd/base.html' %}

{% block content %}
    <div class="container" style="margin-top: 10px">
        <h2>Sign up</h2>
        <div class="jumbotron">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text|safe }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: #ff0000">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button type="submit" class="btn btn-success">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}