{% extends 'scribd/base.html' %}
{% block content %}
    <link class="container-fluid" style="margin-top: 50px; margin-bottom: 50px">
        <h3>{{ ebook.title }}</h3>
        <small>written by: {{ ebook.autor }}</small>
        <h4> Proveedor: {{ ebook.publisher.publisher }}</h4>
        <br>
        <hr>
        <p>Synopsis: {{ ebook.description }}
        </p>
        <hr>
        <img src="{{ ebook.featured_photo.url }}" height="400px" width="280px" alt=""
             style="border-radius: 2%">
        </p>
        <br>
        <hr>
        <p>IBAN: {{ ebook.ebook_number }}</p>
        <p>Number of pages: {{ ebook.size }}</p>
        <p>Media file type: {{ ebook.media_type }}</p>
        <p>Number of downloads on Scribd: {{ ebook.count_downloads }}</p>
        <div class="row">
            <div class="col">
                <a href="review/{{ pk }}">
                    <button class="btn" style="background-color: #367C85;margin-bottom: 20px"><h7 style="color: #FFFFFF">Review</h7></button>
                </a>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {% if request.user.is_authenticated %}
                {% if substract > 0 and not ebook.follower == request.user %}
                    <button type="submit" class="btn" style="background-color: #367C85; margin-bottom: 20px"
                            onclick="history.pushState(null, null, location.href);
                        window.onpopstate = function () {
                            history.go(1);
                        };">
                        <h7 style="color: #FFFFFF">Follow</h7>
                    </button>
                {% elif ebook.follower == request.user %}
                    <a href="{% url 'userprofilepage' request.user.username %}" class="btn"
                       style="background-color: #367C85; margin-top: 20px">
                        <h7 style="color: #FFFFFF">Read it now!</h7>
                    </a>
                {% else %}
                    <a href="{% url 'upgradeaccount' request.user.username %}" class="btn"
                       style="background-color: #367C85; margin-top: 20px">
                        <h7 style="color: #FFFFFF">Upgrade my subscription</h7>
                    </a>
                {% endif %}
            {% endif %}
        </form>
    </div>
{% endblock %}