{% extends 'scribd-deprecated/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="container mt-4">

        <div class="row">

            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <div id="{{ forum.name }}" class="card box container">
                    <br>
                    <div class="card-title mt-4  text-center">
                        <h3>{{ forum.topic }}</h3></a>
                        <div class="card-body container">
                            <p>{{ forum.description }}</p>
                        </div>
                        <hr>
                        <p> By: {{ forum.name }}</p>
                        email- {{ forum.email }}
                        <hr>
                        <h4>Views from other users</h4>



                        {% for objs in discuss %}
                            {% if objs.forum == forum %}

                                <div class="card text-lg-left">
                                    <div class="card-body">
                                        <p class="card-text"> {{ objs.discuss }}
                                        </p>

                                        <footer class="blockquote-footer">{{ objs.user.username }} </footer>

                                    </div>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}


                    </div>

                    <div class="card-footer text-muted text-center">
                        <a class="btn btn-primary" data-toggle="collapse" href="#{{ forum.topic }}"
                           role="button"
                           aria-expanded="false" aria-controls="multiCollapseExample1">Give your
                            view!</a>
                        <form method="POST">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="forum_name" value="{{ forum.topic }}"/>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="collapse multi-collapse" id="{{ forum.topic }}">
                                        <div class="card card-body">

                                            {{ discussion_form.discuss|as_crispy_field }}

                                            <button name="discussion" type="submit"
                                                    class="btn btn-success btn-lg btn-block"
                                                    style="background-color: #367C85; margin-bottom: 20px">
                                                <h7 style="color: #FFFFFF">Post</h7>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <br>

{% endblock %}