<!DOCTYPE html>
<html lang="es">
<head>
    <title>MainPage</title>
    <meta charset="utf-8"/>
</head>
{% extends 'scribd/base.html' %}
{% block content %}
    {% if search %}
        <h3>Busqueda por: {{ search }}</h3>
    {% endif %}
    <div id='cards'>
        <div class="parallax-inner" style="padding-top: 5%;padding-bottom: 5%;">
            <div class="container">
                <h2 style="color: #323232"><strong>Recently added</strong></h2>
                <div class="row">
                    {% for ebook in ebooks %}
                        <div class="col-lg-4 col-md-6 mb-5 pb-1 d-flex">
                            <div class="card" style="width: 500px">
                                <div class="card-body" style="text-align: center;">
                                    <!-- Modify dimensions later-->
                                    {% if ebook.featured_photo.url == '/media/images/unknown.png' %}
                                        {% load static %}
                                        <img src="{% static 'images/unknown.png' %}" height="400px" width="280px" alt=""
                                             style="border-radius: 2%">
                                    {% else %}
                                        <img src="{{ ebook.featured_photo.url }}" height="400px" width="280px" alt=""
                                             style="border-radius: 2%">
                                    {% endif %}
                                    <h5 class="card-title pt-5"><strong>{{ ebook.title }}</strong></h5>
                                    <br>
                                    <h6 class="card-subtitle"> {{ ebook.autor }} </h6>
                                    <br>
                                    <a href="ebookdetail/{{ ebook.id }}" class="btn" style="background-color: #367C85">
                                        <h7 style="color: #FFFFFF">More info</h7>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
