{% extends 'scribd/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content" style="margin-bottom: 20px; margin-top: 20px">
        <div class="row">
            <div class="col-sm-3">
                <!-- Begin user profile -->
                <div class="text-center user-profile-2"
                     style="margin-top: 100px; box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5); border-radius: 2%">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4><b>Username: {{ request.user.username }}</b></h4>
                            <hr>
                            <h4><b>Publisher: {{ provider_instance.publisher }}</b></h4>
                            <hr>
                            <h6>{{ request.user.email }}</h6>
                            <hr>
                            <a href="/media/contracts/ejemplo_contrato.pdf" style="color: inherit;text-decoration: inherit"><h5><b>Publisher contract</b></h5></a>    
                        </li>
                    </ul>
                </div><!-- End div .box-info -->
            </div>





        </div>
    </div>
{% endblock %}
