{% extends 'scribd/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="container mt-5">

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h3 class="border-bottom border-gray my-4 pb-2 mb-0 text-center">{{ ticket.ticket_title }}</h3>

            <div class="container-fluid mt-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">

                                {% if ticket.ticket_user.user_profile.profile_image.url ==  '/media/images/unknown.png' %}
                                    <div class="media flex-wrap w-100 align-items-center"><img
                                            src="https://bootdey.com/img/Content/avatar/avatar6.png"
                                            class="d-block ui-w-40 rounded-circle" alt="" width="75" height="75">
                                        <div class="media-body ml-3">{{ ticket.v.username }}
                                            <div class="text-muted small">
                                                <div>Member since <strong>{{ ticket.ticket_user.date_joined }}</strong>
                                                </div>
                                                {{ ticket.ticket_user.email }}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="media flex-wrap w-100 align-items-center"><img
                                                src="{{ ticket.ticket_user.user_profile.profile_image.url }}"
                                                class="d-block ui-w-40 rounded-circle" alt="" width="75" height="75">
                                            <div class="media-body ml-3">{{ ticket.ticket_user.username }}
                                                <div class="text-muted small">
                                                    <div>Member since <strong>{{ ticket.ticket_user.date_joined }}</strong>
                                                    </div>
                                                    {{ ticket.ticket_user.email }}
                                                </div>
                                            </div>
                                        </div>

                                {% endif %}
                            </div>


                            <div class="card-body">
                                <p> {{ ticket.ticket_summary }}
                                </p>
                            </div>
                            <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                <div class="px-4 pt-3">
                                    <div class="text-muted small">{{ ticket.ticket_date_added }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h5 class="border-bottom border-gray my-4 pb-2 mb-0">Messages</h5>

            {% for objs in discuss %}
                <div class="container-fluid mt-100">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                {% if objs.user.is_support %}
                                    <div class="media flex-wrap w-100 align-items-center"><img
                                                src="{% static 'images/support.png' %}"
                                                class="d-block ui-w-40 rounded-circle" alt="" width="75" height="75">
                                            <div class="media-body ml-3">{{ objs.user.username }}
                                                <div class="text-muted small">
                                                    {{ objs.user.email }}
                                                </div>
                                            </div>
                                        </div>

                                {% else %}
                                    {% if objs.user.user_profile.profile_image.url ==  '/media/images/unknown.png' %}
                                        <div class="media flex-wrap w-100 align-items-center"><img
                                                src="https://bootdey.com/img/Content/avatar/avatar6.png"
                                                class="d-block ui-w-40 rounded-circle" alt="" width="75" height="75">
                                            <div class="media-body ml-3">{{ objs.user.username }}
                                                <div class="text-muted small">
                                                    <div>Member since <strong>{{ objs.user.date_joined }}</strong>
                                                    </div>
                                                    {{ objs.user.email }}
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="media flex-wrap w-100 align-items-center"><img
                                                src="{{ objs.user.user_profile.profile_image.url }}"
                                                class="d-block ui-w-40 rounded-circle" alt="" width="75" height="75">
                                            <div class="media-body ml-3">{{ objs.user.username }}
                                                <div class="text-muted small">
                                                    <div>Member since <strong>{{ objs.user.date_joined }}</strong>
                                                    </div>
                                                    {{ objs.user.email }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                </div>


                                <div class="card-body">
                                    <p> {{ objs.discuss }}
                                    </p>
                                </div>
                                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                    <div class="px-4 pt-3">
                                        <div class="text-muted small">{{ objs.date }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            {% endfor %}
            <div class="footer text-muted text-center">
                <a class="btn btn-primary my-3" data-toggle="collapse" href="#{{ ticket.id_uTicket }}" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample1">Send a message</a>
                <form method="POST">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="{{ ticket.id_uTicket }}">
                                <div class="card card-body">

                                    {{ discussion_form.discuss|as_crispy_field }}

                                    <button name="discussion" type="submit" class="btn btn-success btn-lg btn-block"
                                            style="background-color: #367C85; margin-bottom: 20px">
                                        <h7 style="color: #FFFFFF">Post</h7>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>


            </div>
        </div>
    </div>

{% endblock %}