{% extends 'scribd/base.html' %}
{% block title %}Profile page{% endblock %}
{% block content %}
    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px; margin-left: 50px">
        <div class="row">
            <div class="col">
                <h1 style="color: #367C85; font-size: 70px">{{ user.username }}</h1>
                <h3 style="color: dimgray"><small>{{ user.first_name }} {{ user.last_name }}</small></h3>
                <br>
                <br>
                <h3 style="color: dimgray">About Me</h3>
                <p>{{ user.about_me }}</p>
            </div>
            <div class="col" style="text-align: center">
                    <img src="{{ user.profile_image }}" height="90%" width="35%" alt="" style="border-radius: 2%">
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <a href="edit/" class="btn" style="background-color: #367C85; margin-top: 20px"><h7 style="color: #FFFFFF">Edit profile</h7></a>
            </div>
        </div>
        <hr style="margin-right: 50px; margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color:dimgray">Type of subscription</h3>
                <h1 style="color: dimgray"><small style="font-size: 50px; color: #367C85">{{ user.subs_type }}</small></h1>
            </div>
            <div class="col">
                <div>
                    <h3 style="color:dimgray">Remaining books</h3>
                    <h1 style="font-size: 50px; color: #367C85">{{ user.nbooks_by_subs }}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#" class="btn" style="background-color: #367C85; margin-top: 20px"><h7 style="color: #FFFFFF">Upgrade my subscription</h7></a>
            </div>
        </div>
        <hr style="margin-right: 50px; margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color:dimgray">Followed resources</h3>
                <div class="container text-center my-3">
                    <div class="row mx-auto my-auto">
                        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                            <div class="carousel-inner w-100" role="listbox">
                                <div class="carousel-item active">
                                    <div class="col-md-4">
                                        <div class="card card-body">
                                            <img class="img-fluid" src="{{ user.profile_image }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin-right: 50px; margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color:dimgray">Uploads</h3>
                <div class="container text-center my-3">
                    <div class="row mx-auto my-auto">
                        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                            <div class="carousel-inner w-100" role="listbox">
                                <div class="carousel-item active">
                                    <div class="col-md-4">
                                        <div class="card card-body">
                                            <img class="img-fluid" src="{{ user.profile_image }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-md-4">
                                        <div class="card card-body">
                                            <img class="img-fluid" src="{{ user.profile_image }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-md-4">
                                        <div class="card card-body">
                                            <img class="img-fluid" src="{{ user.profile_image }}">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}