{% extends 'scribd/base.html' %}

{% block content %}
    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px">
        <h3>Add a new book <small style="color: gray">(First view form)</small></h3>
        <form method="POST">
            <!--<form method="POST" action="http://es-scribd.herokuapp.com/api/addbook/">-->
            <!-- csrf protection -->
            {% csrf_token %}
            {{ book_form.as_p|safe }}
            <button type="submit">Add book</button>
        </form>
    </div>
{% endblock %}
