{% extends 'scribd-deprecated/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="sign-up-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Cancel subscription confirmation</h1>
        </div>
        <form method="post" style="margin-top: 60px">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <h2 style="color:darkred;">Your actual subscription is: <strong>{{ form.subs_type.value }}</strong>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="color: darkred">
                        Attention! If you click 'continue' your payments won't be atomatic anymore. If you need to
                        access subscriptions
                        benefits you may to upgrade manually again.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary" style="background-color: #367C85; margin-bottom: 20px"
                            onclick="history.pushState(null, null, location.href);
                        window.onpopstate = function () {
                            history.go(1);
                        };">
                        <h7 style="color: #FFFFFF">Continue</h7>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}