{% extends 'scribd/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="sign-up-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Upgdate payments</h1>
        </div>

        <h4>Payment information :</h4>
        <br>
        <p>Card Titular: {{ user.user_profile.card_titular }}</p>
        <p>Card Number: {{ user.user_profile.card_number }}</p>
        <p>Card Expiration: {{ user.user_profile.card_expiration }}</p>
        <p>Card CVV: {{ user.user_profile.card_cvv }}</p>
        <br>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapse-card" role="button" aria-expanded="false"
               aria-controls="collapse-card">
                Click here to change the information
            </a>
        </p>
        <div class="collapse" id="collapse-card">
            <div class="card card-body">
                <form method="post" style="margin-top: 60px">
                    {% csrf_token %}
                    <div class="container">
                        <div class="card-deck mb-3 text-center">


                            <div class="form-group col-md-6 mb-0">

                                {{ credit_form.card_titular|as_crispy_field }}

                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ credit_form.card_number|as_crispy_field }}
                            </div>

                            <br>

                            <div class="form-group col-md-3 mb-3">
                                {{ credit_form.card_expiration|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-3 mb-3">
                                {{ credit_form.card_cvv|as_crispy_field }}
                            </div>


                        </div>
                    </div>

                    <div class="panel-footer row"><!-- panel-footer -->
                        <div class="form-group col-md-3 mb-3">
                            <button type="submit" class="btn btn-primary" style="background-color: #367C85">
                                <h7 style="color: #FFFFFF">Upgrade now!</h7>
                            </button>
                        </div>
                        <div class="form-group col-md-3 mb-3">
                            <a href={% url 'userprofilepage' request.user.username %} class="btn"
                               style="background-color: #ED2929">
                                <h7 style="color: #FFFFFF">Cancel</h7>
                            </a>
                        </div>
                    </div>


                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href={% url 'userprofilepage' request.user.username %} class="btn"
                   style="background-color: #367C85 ; margin-top: 20px">
                    <h7 style="color: #FFFFFF">Go back to your profile</h7>
                </a>
            </div>
        </div>
        <br>
    </div>
{% endblock %}