{% extends 'scribd/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="sign-up-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Upgrade your account</h1>
        </div>
        <form method="post" style="margin-top: 60px">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="container">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Free</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Meh, just checking out the page</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Regular</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>You have fun reading books, and this plan is for you!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Addict</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>You are a book connoisseur and don't want to miss anything</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {% if request.user.user_profile.subs_type == "Free trial" and request.user.user_profile.first_upgrade %}
                <hr>
                <div class="info-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h4 class="mb-3">Payment info</h4>
                </div>
                <hr/>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form_subs.card_titular|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form_subs.card_number|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3 mb-3">
                        {{ form_subs.card_expiration|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        {{ form_subs.card_cvv|as_crispy_field }}
                    </div>
                </div>
                <hr>
            {% else %}
                <hr>
                <h5 style="color: darkred">Attention! The payment will be charged to your linked credit card</h5>
                <p>
                    To change this you can go and update your bank data right now by clicking the following button
                </p>

                <a class="btn" href="{% url 'updatepayment' request.user.username %}"
                   style="background-color: #367C85; margin-top: 20px">
                    <h7 style="color: #FFFFFF">Update data bank</h7>
                </a>
                <hr>
            {% endif %}
            <button type="submit" class="btn btn-primary" style="background-color: #367C85; margin-bottom: 20px"
                    onclick="history.pushState(null, null, location.href);
                        window.onpopstate = function () {
                            history.go(1);
                        };">
                <h7 style="color: #FFFFFF">Upgrade now!</h7>
            </button>
        </form>
    </div>
{% endblock %}