{% extends 'scribd-deprecated/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <link class="container-fluid" style="margin-top: 50px; margin-bottom: 50px">
        <h3>{{ ebook.title }}</h3>
        <small>written by: {{ ebook.autor }}</small>
        <h4> Proveedor: {{ ebook.publisher.publisher }}</h4>
        <br>
        <hr>
        <p>Synopsis: {{ ebook.description }}
        </p>
        <hr>
        <img src="{{ ebook.featured_photo.url }}" height="400px" width="280px" alt=""
             style="border-radius: 2%">
        </p>
        <br>
        <hr>
        <p>IBAN: {{ ebook.ebook_number }}</p>
        <p>Number of pages: {{ ebook.size }}</p>
        <p>Media file type: {{ ebook.media_type }}</p>
        <p>Number of downloads on Scribd: {{ ebook.count_downloads }}</p>
        <div class="col-sm-6">
            <h2>Review:</h2>
            {% for review in reviews %}
                <h3>
                    <p>{{ review.user}} : {{ review.comment }} {{ review.value_stars }}</p>
                </h3>
            {% endfor %}
        </div>
        <a href="/review/{{ ebook.id }}">
            <button class="btn btn-primary">Review</button>
        </a>
        <form method="post">
            <input type="hidden" name="next" value="{{ request.path }}">
            {% csrf_token %}
            {% if request.user.is_authenticated %}
                {% if substract > 0 and not ebook_followed %}
                    <button name="follow" type="submit" class="btn" style="background-color: #367C85; margin-bottom: 20px"
                            onclick="history.pushState(null, null, location.href);
                        window.onpopstate = function () {
                            history.go(1);
                        };">
                        <h7 style="color: #FFFFFF">Follow</h7>
                    </button>
                {% elif ebook_followed %}
                    <a href="{% url 'userprofilepage' request.user.username %}" class="btn"
                       style="background-color: #367C85; margin-top: 20px">
                        <h7 style="color: #FFFFFF">Read it now!</h7>
                    </a>
                {% else %}
                    <a href="{% url 'upgradeaccount' request.user.username %}" class="btn"
                       style="background-color: #367C85; margin-top: 20px">
                        <h7 style="color: #FFFFFF">Upgrade my subscription</h7>
                    </a>
                {% endif %}
            {% endif %}
        </form>

        <button class="btn my-2 my-sm-0" data-toggle="modal" data-target="#createforum" type="submit"
                style="background-color: #367C85">
            <h7 style="color: #FFFFFF">Create Forum</h7>
        </button>

        <div class="modal fade" id="createforum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Open discussion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            {% csrf_token %}
                            {{ create_forum.topic|as_crispy_field }}
                            {{ create_forum.description|as_crispy_field }}

                            <button name="create_forum" type="submit" class="btn btn-success btn-lg btn-block"
                                    style="background-color: #367C85; margin-bottom: 20px">
                                <h7 style="color: #FFFFFF">Create</h7>
                            </button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% for forum in forums %}

            <div id="{{ forum.name }}" class="card box container">
                <br>
                <div class="card-title">
                    <a href='{{ forum.link }}'><h3>{{ forum.topic }}</h3></a>
                    <div class="card-body container">
                        <p>{{ forum.description }}</p>
                    </div>
                    <hr>
                    <p> By: {{ forum.name }}</p>
                    email- {{ forum.email }}
                    <hr>
                    <h4>Views from other users</h4>

                    {% for discuss in discussions %}

                        {% for objs in discuss %}
                            {% if objs.forum == forum %}

                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text"> {{ objs.discuss }}
                                            </p>

                                        <footer class="blockquote-footer">{{ objs.user.username}} </footer>

                                    </div>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}


                    {% endfor %}

                    <a class="btn btn-primary" data-toggle="collapse" href="#{{ forum.topic }}" role="button"
                       aria-expanded="false" aria-controls="multiCollapseExample1">Give your view!</a>
                    <form method="POST">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input type="hidden" name="forum_name" value="{{ forum.topic }}"/>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="collapse multi-collapse" id="{{ forum.topic }}">
                                    <div class="card card-body">

                                        {{ discussion_form.discuss|as_crispy_field }}

                                        <button name="discussion" type="submit" class="btn btn-success btn-lg btn-block"
                                                style="background-color: #367C85; margin-bottom: 20px">
                                            <h7 style="color: #FFFFFF">Post</h7>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <br>

        {% endfor %}
    </div>
{% endblock %}