{% extends 'scribd-deprecated/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    </style>
    <div class="container">
        <div class="sign-up-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Create issue</h1>
        </div>
        <p class="lead">Write a ticket so that our support staff can get in contact with you! Be patient, they are not
            robots and cannot answer inmmediatly</p>
        <div class="jumbotron">
            <form method="POST">
                {% csrf_token %}

                {% if ticket_form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in ticket_form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                {{ ticket_form.ticket_title|as_crispy_field }}

                {{ ticket_form.ticket_summary|as_crispy_field }}


                <button class="btn btn-primary btn-lg btn-block" type="submit">Create issue</button>
            </form>
        </div>
    </div>
{% endblock %}
