{% extends 'scribd-deprecated/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px">
        <div id="{{ ticket.ticket_title }}" class="card box container">
            <br>
            <div class="card-title">
                <h3> {{ ticket.ticket_title }} </h3>
                <div class="card-body container">
                    <p>{{ ticket.ticket_summary }}</p>
                </div>
                <hr>
                <p> By: {{ ticket.ticket_user.username }}</p>
                email- {{ ticket.ticket_user.email }}
                <hr>
                <h4>Views from other users</h4>

                {% for message in discuss %}


                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"> {{ message.discuss }}
                            </p>

                            <footer class="blockquote-footer">{{ message.user.username }} </footer>

                        </div>
                    </div>
                    <br>

                {% endfor %}




                <a class="btn btn-primary" data-toggle="collapse" href="#{{ ticket.id_uTicket }}" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample1">Give your view!</a>
                <form method="POST">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="{{ ticket.id_uTicket }}">
                                <div class="card card-body">

                                    {{ discussion_form.discuss|as_crispy_field }}

                                    <button name="discussion" type="submit" class="btn btn-success btn-lg btn-block"
                                            style="background-color: #367C85; margin-bottom: 20px">
                                        <h7 style="color: #FFFFFF">Post</h7>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
        <br>
    </div>
{% endblock %}